.footer {
  background-color: #222;
  color: #fff;
  padding: 3rem;
  text-align: center;
}

.social_list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.social_list li {
  margin: 0 1em;
  margin-bottom: 20px;
}

.social_list li:hover {
  color: #ffbb33;
}

.copyright span{
    font-weight: bold;
    color: #ffbb33;
}
